body {
    font-family: roboto;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1500px;
    gap: 50px;
    flex-wrap: wrap;
    position: relative;
}

.menu-image-container {
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
}

.menu-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.menu-details {
    max-width: 600px;
    flex: 1;
}

/* Cart Icon */
.menu-cart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.menu-cart-icon:hover {
    color: grey;
}

.menu-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.pricing {
    margin: 10px 0;
}

.old-price {
    color: red;
    font-weight: bold;
    text-decoration: line-through;
}

.new-price {
    color: green;
    font-weight: bold;
}

.energy-info {
    font-size: 1.25rem;
}

.description {
    margin-top: 15px;
    line-height: 1.5;
    font-size: 1.25rem;
}

.bold {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.included-products {
    margin-top: 20px;
}

.included-products .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.included-products-list li:nth-child(1) {
    margin-top: 10px;
}

.included-products-list li {
    margin:  10px 0;
    font-weight: bold;
}

.zutaten {
    font-weight: 400;
}

.btn-back {
    position: absolute;
    top: 15%;
    left: 10px;
    padding: 6px 10px;
    max-width: 100px;
    white-space: nowrap;
}