footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    background-color: #c2f1c8; /* Light green */
    min-height: 80px;
    width: 100vw;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-right: 30px;
    width: 80vw;
}

.footer-list > li {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.footer-list li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
