.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #c2f1c8;
}

.header-title {
    flex: 3;
}

.nav-links {
    display: flex;
    align-items: center;
    flex: 3;
    justify-content: flex-end;
}

.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    margin-right: 1rem;
}

.cart-container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    margin-right: 1%;
}

.cart-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.cart-icon:hover {
    cursor: pointer;
}

.items-in-cart {
    font-size: 1.2rem;
}
